/bin/
src/android/Movies-master/.gitignore
src/android/Movies-master/build.gradle
src/android/Movies-master/gradle.properties
src/android/Movies-master/gradlew
src/android/Movies-master/gradlew.bat
src/android/Movies-master/settings.gradle
src/android/Movies-master/.idea/assetWizardSettings.xml
src/android/Movies-master/.idea/gradle.xml
src/android/Movies-master/.idea/misc.xml
src/android/Movies-master/.idea/runConfigurations.xml
src/android/Movies-master/.idea/caches/gradle_models.ser
src/android/Movies-master/.idea/codeStyles/Project.xml
src/android/Movies-master/app/.gitignore
src/android/Movies-master/app/build.gradle
src/android/Movies-master/app/proguard-rules.pro
src/android/Movies-master/app/src/androidTest/java/com/android/uraall/movies/ExampleInstrumentedTest.java
src/android/Movies-master/app/src/main/AndroidManifest.xml
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/activities/DetailActivity.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/activities/MainActivity.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/data/MovieAdapter.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/model/Movie.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/utils/Preferences.java
src/android/Movies-master/app/src/main/res/drawable/ic_image_black_24dp.xml
src/android/Movies-master/app/src/main/res/drawable/ic_launcher_background.xml
src/android/Movies-master/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
src/android/Movies-master/app/src/main/res/layout/activity_detail.xml
src/android/Movies-master/app/src/main/res/layout/activity_main.xml
src/android/Movies-master/app/src/main/res/layout/movie_item.xml
src/android/Movies-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
src/android/Movies-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
src/android/Movies-master/app/src/main/res/mipmap-hdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-mdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/values/colors.xml
src/android/Movies-master/app/src/main/res/values/strings.xml
src/android/Movies-master/app/src/main/res/values/styles.xml
src/android/Movies-master/app/src/test/java/com/android/uraall/movies/ExampleUnitTest.java
src/android/Movies-master/gradle/wrapper/gradle-wrapper.jar
src/android/Movies-master/gradle/wrapper/gradle-wrapper.properties
src/SpringCourse-master/.gitignore
src/SpringCourse-master/Lesson7Singleton.java
src/SpringCourse-master/README.md
src/SpringCourse-master/Lesson10.SpringAnnotations2/.gitignore
src/SpringCourse-master/Lesson10.SpringAnnotations2/pom.xml
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/Computer.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson10.SpringAnnotations2/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson11.HWSolution/.gitignore
src/SpringCourse-master/Lesson11.HWSolution/pom.xml
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/MusicGenre.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson11.HWSolution/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson11.HWSolution/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson11.HWSolution/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson11.SpringAnnotations3/.gitignore
src/SpringCourse-master/Lesson11.SpringAnnotations3/pom.xml
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/Computer.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson11.SpringAnnotations3/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson12.SpringAnnotations4/.gitignore
src/SpringCourse-master/Lesson12.SpringAnnotations4/pom.xml
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/Computer.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson12.SpringAnnotations4/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson13.HWSolution/.gitignore
src/SpringCourse-master/Lesson13.HWSolution/pom.xml
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/Computer.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/config/SpringConfig.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/genres/ClassicalMusic.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/genres/JazzMusic.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/java/ru/alishev/springcourse/genres/RockMusic.java
src/SpringCourse-master/Lesson13.HWSolution/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson13.HWSolution/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson13.HWSolution/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/.gitignore
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/pom.xml
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/Computer.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/SpringConfig.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson13.SpringJavaConfiguration/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson15.SpringMVCApp1/pom.xml
src/SpringCourse-master/Lesson15.SpringMVCApp1/src/main/java/ru/alishev/springcourse/HelloController.java
src/SpringCourse-master/Lesson15.SpringMVCApp1/src/main/webapp/WEB-INF/applicationContextMVC.xml
src/SpringCourse-master/Lesson15.SpringMVCApp1/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson15.SpringMVCApp1/src/main/webapp/WEB-INF/views/hello_world.html
src/SpringCourse-master/Lesson16.SpringMVCAppJavaConfig/pom.xml
src/SpringCourse-master/Lesson16.SpringMVCAppJavaConfig/src/main/java/ru/alishev/springcourse/HelloController.java
src/SpringCourse-master/Lesson16.SpringMVCAppJavaConfig/src/main/java/ru/alishev/springcourse/config/MySpringMvcDispatcherSerlvetIntitializer.java
src/SpringCourse-master/Lesson16.SpringMVCAppJavaConfig/src/main/java/ru/alishev/springcourse/config/SpringConfig.java
src/SpringCourse-master/Lesson16.SpringMVCAppJavaConfig/src/main/webapp/WEB-INF/views/hello_world.html
src/SpringCourse-master/Lesson17.SpringControllersIntro/pom.xml
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/java/ru/alishev/springcourse/config/MySpringMvcDispatcherSerlvetIntitializer.java
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/java/ru/alishev/springcourse/config/SpringConfig.java
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/java/ru/alishev/springcourse/controllers/FirstController.java
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/java/ru/alishev/springcourse/controllers/SecondController.java
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/webapp/WEB-INF/views/first/goodbye.html
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/webapp/WEB-INF/views/first/hello.html
src/SpringCourse-master/Lesson17.SpringControllersIntro/src/main/webapp/WEB-INF/views/second/exit.html
src/SpringCourse-master/Lesson17_Starter.SpringControllersIntro/pom.xml
src/SpringCourse-master/Lesson17_Starter.SpringControllersIntro/src/main/java/ru/alishev/springcourse/config/MySpringMvcDispatcherSerlvetIntitializer.java
src/SpringCourse-master/Lesson17_Starter.SpringControllersIntro/src/main/java/ru/alishev/springcourse/config/SpringConfig.java
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/pom.xml
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/src/main/java/ru/alishev/springcourse/TestBean.java
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson2.SpringAppDemo(XML Config)/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson4.FirstIoCApp/.gitignore
src/SpringCourse-master/Lesson4.FirstIoCApp/pom.xml
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson4.FirstIoCApp/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson5.FirstDIApp/.gitignore
src/SpringCourse-master/Lesson5.FirstDIApp/pom.xml
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson5.FirstDIApp/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson6.DIAppPart2/.gitignore
src/SpringCourse-master/Lesson6.DIAppPart2/pom.xml
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson6.DIAppPart2/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson6.HWSolution/.gitignore
src/SpringCourse-master/Lesson6.HWSolution/pom.xml
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/RapMusic.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson6.HWSolution/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson6.HWSolution/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson6.HWSolution/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson6.HWSolution/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson7.Scopes/.gitignore
src/SpringCourse-master/Lesson7.Scopes/pom.xml
src/SpringCourse-master/Lesson7.Scopes/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson7.Scopes/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson7.Scopes/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson7.Scopes/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson7.Scopes/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson7.Scopes/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson7.Scopes/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson7.Scopes/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson7.Scopes/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/.gitignore
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/pom.xml
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/resources/musicPlayer.properties
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson8.InitDestroyAndFactory/src/main/webapp/WEB-INF/web.xml
src/SpringCourse-master/Lesson9.SpringAnnotations1/.gitignore
src/SpringCourse-master/Lesson9.SpringAnnotations1/pom.xml
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/java/ru/alishev/springcourse/ClassicalMusic.java
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/java/ru/alishev/springcourse/Music.java
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/java/ru/alishev/springcourse/MusicPlayer.java
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/java/ru/alishev/springcourse/RockMusic.java
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/java/ru/alishev/springcourse/TestSpring.java
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/resources/applicationContext.xml
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/webapp/index.jsp
src/SpringCourse-master/Lesson9.SpringAnnotations1/src/main/webapp/WEB-INF/web.xml
