/bin/
src/android/Movies-master/.gitignore
src/android/Movies-master/build.gradle
src/android/Movies-master/gradle.properties
src/android/Movies-master/gradlew
src/android/Movies-master/gradlew.bat
src/android/Movies-master/settings.gradle
src/android/Movies-master/.idea/assetWizardSettings.xml
src/android/Movies-master/.idea/gradle.xml
src/android/Movies-master/.idea/misc.xml
src/android/Movies-master/.idea/runConfigurations.xml
src/android/Movies-master/.idea/caches/gradle_models.ser
src/android/Movies-master/.idea/codeStyles/Project.xml
src/android/Movies-master/app/.gitignore
src/android/Movies-master/app/build.gradle
src/android/Movies-master/app/proguard-rules.pro
src/android/Movies-master/app/src/androidTest/java/com/android/uraall/movies/ExampleInstrumentedTest.java
src/android/Movies-master/app/src/main/AndroidManifest.xml
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/activities/DetailActivity.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/activities/MainActivity.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/data/MovieAdapter.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/model/Movie.java
src/android/Movies-master/app/src/main/java/com/android/uraall/movies/utils/Preferences.java
src/android/Movies-master/app/src/main/res/drawable/ic_image_black_24dp.xml
src/android/Movies-master/app/src/main/res/drawable/ic_launcher_background.xml
src/android/Movies-master/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
src/android/Movies-master/app/src/main/res/layout/activity_detail.xml
src/android/Movies-master/app/src/main/res/layout/activity_main.xml
src/android/Movies-master/app/src/main/res/layout/movie_item.xml
src/android/Movies-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
src/android/Movies-master/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
src/android/Movies-master/app/src/main/res/mipmap-hdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-mdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
src/android/Movies-master/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
src/android/Movies-master/app/src/main/res/values/colors.xml
src/android/Movies-master/app/src/main/res/values/strings.xml
src/android/Movies-master/app/src/main/res/values/styles.xml
src/android/Movies-master/app/src/test/java/com/android/uraall/movies/ExampleUnitTest.java
src/android/Movies-master/gradle/wrapper/gradle-wrapper.jar
src/android/Movies-master/gradle/wrapper/gradle-wrapper.properties
