/RemoteControlTest.class
/SimpleRemoteControl.class
/LightOnCommand.class
/Command.class
/Light.class
/GarageDoorOpenCommand.class
/GarageDoor.class
/LightOffCommand.class
/GarageDoorCloseCommand.class
/NoCommand.class
